@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'ChunkFiveEx';
    src: url('../fonts/ChunkFiveEx/ChunkFiveEx.eot');
    src: url('../fonts/ChunkFiveEx/ChunkFiveEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChunkFiveEx/ChunkFiveEx.woff') format('woff'),
        url('../fonts/ChunkFiveEx/ChunkFiveEx.ttf') format('truetype'),
        url('../fonts/ChunkFiveEx/ChunkFiveEx.svg#ChunkFiveEx') format('svg');
    font-weight: normal;
    font-style: normal;
}